    body {
        font-family: 'Courgette', cursive;
        font-family: 'Noto Sans TC', sans-serif;
        background: url('images/fog-3622519_1920.jpg') no-repeat fixed;
        background-size: cover;
    }

    #version {
            position: absolute;
            top: 0;
            right: 10px;
            color: #fff;
        }

    .stick {
        top: 0;
    }

    aside {
        min-height: 100vh;
    }

    aside ul li {
        margin: 4px 12px;
    }

    section {
        right: 0;
    }

    header {
        height: 100px;
        background: url('images/bg.png') no-repeat bottom;
        background-size: cover;
    }

    header p {
        font-size: 4rem;
        text-align: center;
        color: rgb(23, 33, 90);
        text-shadow: rgb(248, 235, 224) 3px 3px 3px;
        font-family: 'Courgette', cursive;
    }

    .card-header {
        text-align: center;
        background: rgb(206, 222, 247);
    }

    .card-title {
        font: bolder;
        color: rgb(248, 48, 48);
    }

    .card-body ul li {
        width: 50%;
    }

    .title {
            text-align: center;
            padding: 16px;
            background: rgba(72, 70, 175, 0.5);
            color: #fff;
    }

    .title h4 {
        margin: 0;
    }

    .getHeigh {
        height: 100px;
    }

    #showboard {
        height: 100px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
    }

    #showboard p {
        font-size: 1.5rem;
    }

    #goTop {
        right: 0;
        bottom: 120px;
    }

    #Links {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 0 4px;
        width: 20px;
        height: 616px;
        top: calc(50% - 308px);
        right: 0;
        transition: .5s;
    }

    #Links:hover {
        background: rgba(0, 0, 0, 0.7);
        width: 30px;
    }

    #Links.show {
        background: rgba(0, 0, 0, 0.5);
        width: 20px;
        transform: translateX(-150px);
        border-radius: 0;
    }

    #Links.show:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    #LinkList {
        width: 150px;
        height: 616px;
        padding: 10px;
        text-align: center;
        color: #fff;
        position: fixed;
        right: 0px;
        top: calc(50% - 308px);
        background: rgba(0, 0, 0, 0.5);
        transform: translateX(150px);
        transition: .5s;
    }

    #LinkList.active {
        transform: translateX(0px);
        right: 0;
    }

    #LinkList p {
        color: rgb(250, 195, 76);
    }

    #LinkList ul {
        margin: 16px 0;
    }

    #LinkList ul li {
        margin: 8px 0;
    }

    #LinkList ul li a {
        color: #fff;
    }

    .fa-caret-left {
        transition: .5s;
    }

    .fa-caret-left.active {
        transform: rotate(180deg);
    }
